@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --main-white: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--main-background);
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  height: 100%;
}

.card {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--card-background);
  height: auto;
  width: 77%;
  border-radius: 10px;
  margin: auto;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  padding: 7%;
}

.card-heading {
  color: var(--main-white);
  font-size: 35px;
  font-weight: 700;
  text-align: left;
}

.insights {
  color: var(--accent);
}

.card-stats {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 15%;
  justify-content: space-between;
  text-align: left;
}

.stats-head {
  color: var(--stat-headings);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}

.stats {
  color: var(--main-white);
  font-weight: 700;
  font-size: 22px;
}

.card-text {
  color: var(--stat-headings);
  font-size: 15px;
  text-align: left;
  line-height: 1.7;
  width: 90%;
  margin-top: 5%;
}

.card-right img {
  filter: contrast(50%) brightness(50%);
  display: block;
  z-index: 10;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img-overlay {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--accent);
  opacity: 0.25;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.attribution {
  font-size: 11px;
  color: var(--paragraph);
  bottom: 0px;
  width: 100%;
  position: absolute;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
